.sectionDecompte {
  h3 {
    font-weight: 300;
    font-size: 1.37rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: var(--margin-large);
  }

  .decomptes {
    display: flex;
    justify-content: space-between;

    .tempsDecompte {
      background: var(--color-gradient-primary);
      margin: var(--margin-medium) 0;
      width: 24%;
      padding: var(--padding-medium) 0;

      p {
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--color-white);
        line-height: 18px;
        text-align: center;

        margin: 0;

        span {
          font-weight: 400;
          font-size: 0.75rem;
        }
      }
    }
  }
}