.sectionDecompte {
  h3 {
    font-weight: 300;
    font-size: 1.37rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: var(--margin-large);
  }

  .decomptes {
    display: flex;
    justify-content: space-between;

    article {
      background: var(--color-gradient-primary);
      margin: var(--margin-medium) 0;
      width: 24%;
      padding: var(--padding-medium) 0;

      p {
        font-weight: 400;
        font-size: 0.75rem;
        color: var(--color-white);
        text-align: center;
        margin: 0;
      }

      .nombreDecompte {
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
  }
}


@media screen and (min-width: $vw-medium) {
  .sectionDecompte {
    h3 {
      font-size: 3rem;
    }

    .decomptes {
      max-width: 550px;
      margin: auto;

      article {
        .nombreDecompte {
          font-size: 3.43rem;
        }
      }
    }
  }
}