.hero {
  .titre-hero {
    font-weight: 700;
    color: var(--color-white);
    text-shadow: 2px 2px 4px var(--color-black);
    text-align: center;

    padding: 200px 0;
  }
}

@media screen and (min-width: $vw-medium) {
  .hero {
    .titre-hero {
      font-size: 3rem;
    }
  }
}
