.info-achat {
  background: var(--color-gradient-primary);
  color: var(--color-white);
  margin-top: var(--margin-large);
  padding: var(--padding-large) var(--padding-medium);

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h5 {
      font-weight: 700;
      font-size: 1.37rem;
      text-transform: uppercase;
    }

    p {
      padding: var(--padding-thin) 0;
    }

    a {
      text-decoration: none;
      color: var(--color-white);
      border: 2px var(--color-white) solid;
      border-radius: 100px;
      padding: var(--padding-thin) var(--padding-medium);

      &:hover {
        background: var(--color-white);
        color: var(--color-text-primary);
      }
    }
  }
}