.nav-principal {
  background-color: rgba(255, 255, 255, 0.95);
  padding: var(--padding-medium);

  ul {
    text-align: center;

    li:nth-child(1) {
      font-family: var(--ff-secondary);
      font-weight: 700;
      font-size: 1.5rem;
      padding-bottom: var(--padding-thin);
    }

    a {
      text-decoration: none;
      font-weight: 500;
      color: var(--color-text-primary);

      padding-bottom: var(--padding-thin);

      &:hover {
        color: var(--color-text-hover);
      }
    }
  }
}

@media screen and (min-width: $vw-medium) {
  .nav-principal {
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      li:nth-child(1), a {
        padding: 0;
      }

      li:nth-child(2) {
        order: -2;
      }

      li:nth-child(3) {
        order: -1;
      }
    }
  }
}