:root{
  --color-text-primary : #232323;
  --color-text-hover:#FB545F;

  --color-white:#fff;
  --color-black:#000;

  --color-gradient-primary:linear-gradient(129.76deg, #A38DFD 0%, #FFA0A2 93.53%);
}