:root{
  --padding-thin:10px;
  --padding-medium:20px;
  --padding-large:50px;
  --padding-huge:80px;

  --margin-thin:10px;
  --margin-medium:20px;
  --margin-large:50px;
  --margin-huge:80px;
}

$vw-small: 375px;
$vw-medium: 368px;
$vw-large:1440px;
